
@{
    ViewBag.Title = "Recalculare Solduri";
}

<h2 style="color:#317eac ">OK IO</h2>


<p> 3RP  @ViewBag.date3RP  3RP1 @ViewBag.date3RP1   </p>

<p> DreferintaEnd  @ViewBag.DreferintaEnd   DreferintaEnd1 @ViewBag.DreferintaEnd1   </p>

<table class="table" >

 <tr> <td> 3RP  </td> </tr>
 <tr> <td> @ViewBag.date3RP  </td> </tr>
 <tr> <td> @ViewBag.date3RP1  </td> </tr>
 <tr> <td>   </td> </tr>

  <tr> <td> DreferintaEnd  </td> </tr>
    <tr> <td> @ViewBag.DreferintaEnd  </td> </tr>
    <tr> <td> @ViewBag.DreferintaEnd1  </td> </tr>
 <tr> <td>   </td> </tr>


    <tr> <td> Ddebit6Start  </td> </tr>
    <tr> <td> @ViewBag.Ddebit6Start  </td> </tr>
    <tr> <td> @ViewBag.Ddebit6Start1  </td> </tr>
    <tr> <td>   </td> </tr>

    <tr> <td> Ddebit6End  </td> </tr>
    <tr> <td> @ViewBag.Ddebit6End  </td> </tr>
    <tr> <td> @ViewBag.Ddebit6End1  </td> </tr>
    <tr> <td>   </td> </tr>

    <tr> <td>  luna_ins_dp </td> </tr>
    <tr> <td> @ViewBag. luna_ins_dp  </td> </tr>
    <tr> <td> @ViewBag. luna_ins_dp1  </td> </tr>
    <tr> <td>   </td> </tr>

</table>


<p>

  
    <br />
    
</p>

