
@model IEnumerable<carp_tm_2025.Models.desfasurator_rate>


@{
    ViewData["Title"] = "Desfasurator rate";
}


<br />

<h2 style="color:#317eac "> Desfasurator rate pentru  nr carnet  @ViewData["nrcarnet_ad"], nr rate @ViewData["nrrate_ad"], sold imprumut @ViewData["sold_impr_ad"] </h2>

<br />




<h2 style="color:#317eac "> Total general </h2>

<div>

    <table class="table" style="color:#317eac; border:1">
        <tr class="active">
            
            <th>

            </th>

            <th>

            </th>

            <th>

            </th>

            <th>
                total rata
            </th>
            <th>
                total dobanda
            </th>
            <th>
                total
            </th>
        </tr>

        <tr class="table" style="color: #666666; background-color: #d9edf7">
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                @ViewData["total_rata"]
            </td>
            <td>
                @ViewData["total_dobanda"]
            </td>
            <td>
                @ViewData["total_total"]
            </td>
        </tr>

    </table>
    <br />

</div>


<br />

<div>



<table class="table table-bordered" style="text-align:center">
    <thead>
        <tr style="font-weight:normal; color:#317eac; background-color: #f5f5f5 ">

           <th style="font-weight:normal; vertical-align:middle;text-align:center"> nr rata </th>

           <th style="font-weight:normal; vertical-align:middle;text-align:center"> data rata </th>

           <th style="font-weight:normal; vertical-align:middle;text-align:center"> sold impr. </th>

           <th style="font-weight:normal; vertical-align:middle;text-align:center"> rata </th>

           <th style="font-weight:normal; vertical-align:middle;text-align:center"> dobanda </th>

            <th style="font-weight:normal; vertical-align:middle;text-align:center"> total </th>

              

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {

            <tr style="text-align:center; color: #333333">

               <td style="vertical-align:middle; text-align:center"> @Html.DisplayFor(modelItem => item.nr_rata) </td>       
                
               <td style="vertical-align:middle; text-align:center"> @Html.Raw(item.data_rata.ToString("dd.MM.yyyy")) </td>

               <td style="vertical-align:middle; text-align:right"> @Html.DisplayFor(modelItem => item.sold_imp) </td>

               <td style="vertical-align:middle; text-align:right"> @Html.DisplayFor(modelItem => item.rata_de_plata) </td>

               <td style="vertical-align:middle; text-align:right"> @Html.DisplayFor(modelItem => item.dobanda) </td>

               <td style="vertical-align:middle; text-align:right"> @Html.DisplayFor(modelItem => item.total) </td>
            </tr>
        }
    </tbody>
</table> 

</div>


<br />



<p>
    <h2>    <a style="color:#317eac; text-decoration:none" asp-controller="Imprumuturis" asp-action="listare_desfasurator" asp-route-id_imprumut_ld="0" asp-route-nr_carnet_ld="@ViewData["nrcarnet_ad"]" asp-route-nr_desfasurator_l="@ViewData["nr_desfasurator_max"]">Listare desfasurator</a></h2>
</p>


<p style="color:#317eac; text-decoration:none">

 <br />
    <a style="color:#317eac; text-decoration:none;" asp-action="Index" asp-route-searchterm="@ViewData["nrcarnet_ad"]"><i>Revenire la imprumuturi acordate </i></a>    
    <br />
    <a style="color:#317eac; text-decoration:none;"  asp-controller="Chitantas" asp-action="Create" asp-route-idc="@ViewData["nrcarnet_ad"]"><i>Revenire la introducere chitante</i></a>
   
</p>



<br />


