@*@using X.PagedList.Mvc.Core;*@
@using X.PagedList;
@using X.Web.PagedList;


@model IEnumerable<carp_tm_2025.Models.registru_jurnal>

@{
    ViewData["Title"] = "Registru de casa";
}
<br />
<h2 style="color:#317eac "> Registru de casa  </h2>

<script src="~/lib/jquery/jquery.min.js"></script>

<script src="~/lib/jqueryui/jquery-ui.min.js"></script>

<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css">

<link rel="stylesheet" href="~/css/PagedList.css">

<style>

    .ui-datepicker {
        background: #337ab7;
        color: white;
    }

    .ui-datepicker-calendar a.ui-state-default {
        background: white;
    }

    .ui-datepicker-header {
        background: white;
        color: #337ab7;
    }

</style>


<script type="text/javascript">

    $(function () {
        $(".datepicker").datepicker();
       
      
    });

</script>


<div id="datepicker"></div>


<form method="get">

    <br />


    <table class="table" style=" border: solid 1px #ddd ;  text-align:center">

        <tr style="text-align:center">

            <td style="padding-top:15px; padding-bottom:15px">
                <label style="color:#317eac">ziua 1:</label>
                <input type="text" class="datepicker" name="ziua_rcd" style="border: solid 1px #ddd; text-align:center;  width: 160px; outline:0; color: #333333">
            </td>

           

            @if ((Convert.ToString(ViewData["ShowListD"]) == "1"))
            {

            <td style="padding-top:15px; padding-bottom:15px">
                <label style="color:#317eac">ziua 2:</label>
                    <input type="text" class="datepicker" name="ziua_rcd2" style="border: solid 1px #ddd; text-align:center; width: 160px; outline:0; color: #333333">
            </td>           
                       
            <td style="padding-top:15px">
                    <label style="color:#317eac">zona:</label>
                    <select id="delegat" name="delegat" style="width: 180px; border: 1px solid #cccccc; height: 25px; color: #333333 ">
                        <option value="6">SEDIU</option>
                        <option value="1">SAELELE</option>
                        <option value="2">GIUVARASTI</option>
                        <option value="3">LUNCA</option>
                        <option value="4">TRAIAN</option>
                        <option value="5">ISLAZ</option>
                        <option value="7">LITA</option>
                    </select>
             </td>
            }


            <td style="padding-top:15px">
                <label style="color:#317eac"></label>
                <input type="submit" style=" font-weight:bold; background:none; border:none; color:#317eac " value="Afisare registru de casa" />
            </td>

        </tr>


    </table>

    <br />
</form>



<h3 style="color:#317eac ">  @ViewData["TitlutRJD"] </h3>

<div>

    <table class="table" style="color:#317eac; border:1">
        <tr class="active">
            <th>
                sold initial
            </th>

            <th>
                total incasari
            </th>

            <th>
               total plati
            </th>

            <th>
                sold final
            </th>
           
        </tr>

        <tr class="table" style="color: #666666; background-color: #d9edf7">
            <td>
                @ViewData["SI_RJD"]
            </td>
            <td>
                @ViewData["RJDTotalIncasare"]
            </td>
            <td>
                @ViewData["RJDTotalPlata"]
            </td>
            <td>
                @ViewData["SF_RCD"]
            </td>         
        </tr>

    </table>

    <br />

</div>



<br />

<h3 style="color:#317eac "> @ViewData["TitluRJD"] </h3>

<div>

 


    <table class="table table-bordered" style="text-align:center">
       <thead>
        <tr style="font-weight:normal; color:#317eac; background-color: #f5f5f5 ">

             <th style="font-weight:normal; vertical-align:middle"> nr document </th>

             <th style="font-weight:normal; vertical-align:middle"> nr cont sintetic </th>

             <th style="font-weight:normal; vertical-align:middle">nr cont analitic </th>

             <th style="font-weight:normal; vertical-align:middle"> explicatie cont analitic </th>
           

             <th style="font-weight:normal; vertical-align:middle">  incasare </th>

             <th style="font-weight:normal; vertical-align:middle"> plata </th>

             
        </tr>
       </thead>
     <tbody>
      @foreach (var item in Model)
      {
       <tr style="text-align:center; color: #333333">

            <td style="vertical-align:middle"> @Html.DisplayFor(modelItem => item.nr_document) </td>


            @if (item.id_CS_debitor==51)
            {
             <td style="vertical-align:middle"> @Html.DisplayFor(modelItem => item.conturi_sintetice_C.nr_cont_sintetic) </td>

            <td style="vertical-align:middle"> @Html.DisplayFor(modelItem => item.conturi_analitice_C.nr_cont_analitic) </td>

            <td style="vertical-align:middle">
                        @if (item.conturi_analitice_C.nr_cont_analitic == "-")
                        {
                            @Html.DisplayFor(modelItem => item.explicatie_nr_cont_analitic)
                        }
                        @if (item.conturi_analitice_C.nr_cont_analitic != "-")
                        {
                            @Html.DisplayFor(modelItem => item.conturi_analitice_C.explicatie_nr_cont_analitic)
                        }
            </td>          

             <td style="vertical-align:middle; text-align:right"> @Html.DisplayFor(modelItem => item.debit) </td>

             <td style="vertical-align:middle; text-align:right"> 0 </td>

            }



            @if (item.id_CS_creditor==51)
            {

            <td style="vertical-align:middle"> @Html.DisplayFor(modelItem => item.conturi_sintetice_D.nr_cont_sintetic) </td>

            <td style="vertical-align:middle"> @Html.DisplayFor(modelItem => item.conturi_analitice_D.nr_cont_analitic) </td>

            <td style="vertical-align:middle">
                        @if (item.conturi_analitice_D.nr_cont_analitic == "-")
                        {
                            @Html.DisplayFor(modelItem => item.explicatie_nr_cont_analitic)
                        }
                        @if (item.conturi_analitice_D.nr_cont_analitic != "-")
                        {
                            @Html.DisplayFor(modelItem => item.conturi_analitice_D.explicatie_nr_cont_analitic)
                        }
            </td>            

              <td style="vertical-align:middle; text-align:right"> 0 </td>

             <td style="vertical-align:middle; text-align:right"> @Html.DisplayFor(modelItem => item.credit) </td>
            
            }                              
          

        </tr>
      }

      </tbody>

    </table>
     

    @Html.PagedListPager((IPagedList)ViewData["rc_delegati"], page => Url.Action("RC_delegati_afisare", "registru_jurnal", new { ziua_rcd = @ViewData["ziua_rcd"], ziua_rcd2 = @ViewData["ziua_rcd2"], delegat = @ViewData["delegat"], page = page, @style = "color:#317eac;" }))

</div>

<br /><h2 style="color:#317eac; text-decoration:none ">
    @Html.ActionLink("Listare", "RC_listare", new
        {
            ziua1_rc_l = @ViewData["ziua_rcd"],
            ziua2_rc_l = @ViewData["ziua_rcd2"],
            id_delegat_l = @ViewData["delegat"],
            SI_RC = @ViewData["SI_RJD"],
            incast = @ViewData["RJDTotalIncasare"],
            platat = @ViewData["RJDTotalPlata"],
            SF_RC = @ViewData["SF_RCD"]

        }, new { style = "text-decoration:none; color:#317eac" })
</h2>
   


<p>
    <h2>
        <a style="color:#317eac; text-decoration:none" asp-controller="registru_jurnal" asp-action="RCC_delegati" asp-route-ziua_rccd="@ViewData["ziua_rcd"]" asp-route-ziua2_rccd="@ViewData["ziua_rcd2"]" asp-route-delegat="@ViewData["delegat"]" asp-route-SI_RCC="@ViewData["SI_RJD"]"> Registru de casa centralizator </a>
    </h2>
</p>



<p>
    <h2>
        <a style="color:#317eac; text-decoration:none" asp-controller="registru_jurnal" asp-action="tezaur" > Tezaur </a>
    </h2>
</p>



